/MediatorOnFhir/obj/
/MediatorOnFhir/bin/
/MediatorOnFhir.sln.DotSettings.user
/MediatorOnFhir/appsettings.Development.json
/MediatorOnFhir/bin/Debug/
/MediatorOnFhir/bin/Debug/netcoreapp2.1/
/MediatorOnFhir/bin/*

# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.MediatorOnFhir.iml
/.idea*
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTT
/MediatorOnFhir/.idea/.idea.MediatorOnFhir.dir/.idea/.gitignore
/MediatorOnFhir/.idea/.idea.MediatorOnFhir.dir/.idea/.idea.MediatorOnFhir.dir.iml
/MediatorOnFhir/.idea/.idea.MediatorOnFhir.dir/.idea/encodings.xml
/MediatorOnFhir/.idea/.idea.MediatorOnFhir.dir/.idea/indexLayout.xml
/MediatorOnFhir/.idea/.idea.MediatorOnFhir.dir/.idea/misc.xml
/MediatorOnFhir/.idea/.idea.MediatorOnFhir.dir/riderModule.iml
/MediatorOnFhir/.idea/.idea.MediatorOnFhir.dir/.idea/vcs.xml
